<style>
  .card-container{
    position: absolute;
    top:320px;
    left: 80px
  }
  img{
    width: 100%;
    object-fit: contain;
    background-repeat:none
  }
  h1{
    font-size: 40px;
    color: rgb(139, 0, 203);
  }
</style>
<div>
  <img src="../../../assets/homeBg2.jpg" alt="homeBg" />
</div>
<div class="card-container">
    <h1>
      Welcome to the E-Cart Online Shopping🛍️
      <hr 
      style="height:5px;
      border-width:0;
      border-radius: 100%;
      background-color:rgb(139, 0, 203)">
    </h1>
</div>
